.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 285.6px);
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
    
    @media (max-width: 768px) {
      gap: 16px;
    }
  }
  
  .grid.cartOpen {
    grid-template-columns: repeat(auto-fit, 285.6px);
    justify-content: center;
    gap: 16px;
  }